<launch>

    <!--debug node-->
    <node name="debug_node" pkg = "recycade_main" type = "recycade_main_stepper_debug" output = "screen"/>

    <!--rosserial node-->
    <node pkg = "rosserial_server" type ="serial_node" name = "rosserial_server_main" output="screen" respawn="true">
        <rosparam>
            port: /dev/ttyACM0
            require:
                publishers: [ /teensy/callback ]
                subscribers: [ /teensy/chatter ]
        </rosparam>
    </node>
    <node pkg="rosserial_python" type="message_info_service.py"
        name="rosserial_message_info" />
</launch>